@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
   
:root {
    --main-bg:#ffff;
    --second-bg: #fafafb;
    --txt-color:#455560;
    --main-color: #349eff;
    --txt-white: #fff;
    --second-color: #62b4ff;

    --border-radius:15px ;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

:root {
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dashboard{
    width: 100%;
    height: 50px;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.dashboardWrapper{
    height: 100%;
    padding: 5px 20px;
    display:flex;
    justify-content: space-between;
    
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topbarIconContainer{
    position: relative;
    cursor: pointer;
}
.topright{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #555;
    padding-right: 10px;
}
.topIconBadge{
    position: absolute;
    height: 15px;
    width: 15px;
    top: -5px;
    right: 0px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.others{
    height: 100vh;
    background-color: rgb(252, 252, 252);
    width: 100%;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;

}
.sidebarTitle{
    padding: 10px;
    font-size: 18px;
    color: rgb(187, 186, 186);
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(240, 240, 255);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.topnav_search{
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    
    overflow: hidden;

}
.topnav_search > input{
    height: 100%;
    width: 20%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    border-color: transparent;
    color: var(--txt-color);
    background-color: #ffff;
}
.topnav_search > i {
    right: 50px;
    position: relative;
    font-size: 1.5rem;
}
.status-card {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 30px;
}

.status-card__icon {
    width: 30%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.status-card__info {
    flex-grow: 1;
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}

.status-card__info > h4 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.status-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.status-card:hover::before {
    transform: scale(3);
}

.status-card:hover {
    color: var(--txt-white);
}
.one{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    width: 200%;
    padding: 20px;
}

.chart{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin: 20px;
    padding: 20px;
    
}
.chartTitle{
      font-weight: bolder;
      font-family: 'Open Sans', serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    flex: 3;
} 
.full-height{
    width: 120% !important;
    border: none;
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
}

.shares{
    /* padding: 20px; */
    box-shadow: var(--box-shadow);
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
}
.table-wrapper {
    overflow-y: auto;
}

.badge {
    padding: 6px 11px;
    color: var(--txt-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.badge-danger {
    background-color: var(--main-color-red);
}

.badge-success {
    background-color: var(--main-color-green);
}

.badge-primary {
    background-color: var(--main-color-blue);
}

.badge-warning {
    background-color: var(--main-color-orange);
}


table {
    width: 100%;
    min-width: 400px;
    border-spacing: 0;
    
}

thead {
    background-color: var(--second-bg);
}

tr {
    text-align: left;
}

th,
td {
    text-transform: capitalize;
    padding: 15px 10px;
}

tbody > tr:hover {
    background-color: var(--main-color);
    color: var(--txt-white);
}

.table__pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.table__pagination-item ~ .table__pagination-item {
    margin-left: 10px;
}

.table__pagination-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table__pagination-item.active,
.table__pagination-item.active:hover {
    background-color: var(--main-color);
    color: var(--txt-white);
    font-weight: 600;
}

.table__pagination-item:hover {
    color: var(--txt-white);
    background-color: var(--second-color);
}
.status{
    display: flex;
    justify-content: space-between;
}
.loan{
    width: 200%;
}